* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
}

#page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a:hover {
    color: #000;
    opacity: 1;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 40%;
    height: 50px;
}

.header-right {
    width: 40%;
    height: 50px;
    text-align: right;
}

.header-left > ul > li {
    display: inline-block;
    padding-left: 15px;
}

.header-right > ul > li {
    display: inline-block;
    padding-right: 15px;
}

.header-left > ul > li > a, .header-right > ul > li > a {
    line-height: 50px;
    height: 50px;
    font-size: small;
}

.header-left > ul > li > a > i, .header-right > ul > li > a > i {
    font-size: 20px;
    vertical-align: middle;
}


.menu {
    position: relative;
}
.sottomenu {
    box-sizing: content-box;
    margin: 0;
    padding: 17px 0 20px 12px;
    width: 300px;
    height: 500px;
    position: absolute;
    right: 15px;
    box-shadow: 0 1px 6px 0  rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    border-radius: 8px;
    overflow: auto;
    display: none;
}

.active {
    display: block;
}

.sottomenu li {
    display: inline-block;
    float: left;
    width: 84px;
    height: 84px;
    margin: 8px 2px;
    margin-top: 20px;
}

.sottomenu li:hover {
    background-color: #f6fafe;
    border: 1px solid transparent;
    border-radius: 8px;
}

.sottomenu li a {
    text-decoration: none;
}
div.icona {
    padding: 5px;
}

.fa-user-circle, .fa-newspaper, .fa-language {
    color: #4285f4;
}

.fa-google, .fa-youtube, .fa-video, .fa-envelope {
    color: #ea4335;
}

.fa-map-marker-alt, .fa-photo-video, .fa-tag{
    color: #fbbc04;
}

.fa-google-play, .fa-calendar-alt, .fa-google-drive {
    color: #34a853;
}

#page-wrapper > header > div.header-right > ul > li:nth-child(4) > a > i.fa-user-circle {
    color: #000;
    opacity: 1;
}

.icona p {
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
    color: #000;
    opacity: 0.75;
    margin-top: 5px;
}

.menu-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

#page-wrapper > header > div.header-right > ul > li:nth-child(4) > div > div > div > button {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3c4043;
    display: inline-block;
    font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    margin: 16px 0 0;
    max-width: 254px;
    outline: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}



main {
    width: 100%;
    height: 300px;
}

.container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#page-wrapper > main > div > div.input > input {
    width: 600px;
    border-radius: 50px;
}

#page-wrapper > main > div > div.imput > input:hover, .form-control:focus {
    box-shadow: 0 1px 6px 0  rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

div.input {
    position: relative;
}

i.fa-search {
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    color: #9AA0A6;
}

i.fa-microphone {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    color: blue;
}



button.btn.btn-light {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button.btn.btn-light:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.sottotesto small {
    margin-bottom: 0;
}

.sottotesto a {
    color: blue;
    opacity: 1;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
}
